<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>The Surf Project</title>
</head>

<body>

    <header>
        <!-- top navbar -->
        <nav class="nav-extended white">
            <div class="nav-wrapper">
                <a id="logo-container" href="{{ url_for('home') }}" class="brand-logo">The Surf Project</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="#">Profile</a></li>
                    <li><a href="{{ url_for('camps') }}">Camps</a></li>
                    <li><a href="{{ url_for('new_review') }}">Write A Review</a></li>
                    <li><a href="#">Log Out</a></li>
                    <li><a href="#">Log In</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                </ul>
            </div>
        </nav>

        <!-- mobile sidenav -->
        <ul class="sidenav" id="mobile-demo">
            <li><h4 class="center-align brand-logo">The Surf Project</h4></li>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="{{ url_for('camps') }}">Camps</a></li>
            <li><a href="{{ url_for('new_review') }}">Write A Review</a></li>
            <li><a href="#">Log Out</a></li>
            <li><a href="#">Log In</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
        </ul>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer class="page-footer teal lighten-2">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">The Surf Project 2022</h5>
                    <p class="grey-text text-lighten-4"></p>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
            </div>
        </div>
    </footer>


    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{{ url_for('static', filename='js/materialize.js') }}"></script>
    <script src="{{ url_for('static', filename='js/init.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>