{% extends "base.html" %}
{% block content %}

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Women's Surf Camps</h1>
        <div class="row center">
          <h5 class="header col s12 light">Rated by you!</h5>
        </div>
        <div class="row center">
          <a href="{{ url_for('new_review')}}" id="review-button" class="btn-large waves-effect waves-light teal lighten-1"><i class="fa-solid fa-square-plus"></i> Leave A Review</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="{{ url_for('static', filename='images/background1.jpg') }}" alt="background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="fa-regular fa-circle-question"></i></h2>
            <h5 class="center">Take The Guessing Out</h5>

            <p class="light">
                An overview of women-centered surfcamps. Where you can learn to surf without pressure.
                Where you can have a chat and a laugh and get to know likeminded women of the ocean.
                </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">What Others think</h5>
            <p class="light">
                Honest opinions to help you decide. No more asking around to get advice.
                Read about how others have experienced their stays at each surfcamp or resort.
            </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Share Your Experiences</h5>

            <p class="light">Leave a review about your recent surf trips and help others
              decide where they would like to go next.
              You can leave an honest review and give each place a rating.
              Keep track of your reviews and change them if you have revisited.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Get inspired by others experiences and get ready to book that ticket!</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="{{ url_for('static', filename='images/background1.jpg') }}" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contact Us</h4>
          <p class="center-align light">Do you have a question? Would you like to work together?
            Don't hesitate to get in touch via 
            <a href="mailto:stien.boodts@gmail.com?subject=The%20Surf%20Project%20Website">hello@thesurfproject.com</a>.
          </p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="{{ url_for('static', filename='images/background1.jpg') }}" alt="Unsplashed background img 3"></div>
  </div>


{% endblock %}
