{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card-panel">
            <h3 class="center-align teal-text text-lighten2">
                {{ username }}'s Profile
            </h3>
            <h5 class="black-text center-align">Your reviews:</h5>
<ul>
    <div class="row">
        {% for review in reviews %}
            {% if session.user|lower == review.created_by|lower %}
            <div class="col s12 m6 l4">
                <div class="card review-card orange lighten-4 center-align">
                    <div class="card-content black-text">
                    <p class="review-text">{{ review.review_text }}</p>
                    <p class="teal-text"><strong>By {{ review.review_name }}</strong></p>
                    <p>
                        <a href="{{ url_for('edit_review', review_id=review._id) }}" class="btn green accent-4">Edit</a>
                        <a href="{{ url_for('delete_review', review_id=review._id) }}" class="btn red accent-4 waves-effect waves-light modal-trigger">Delete</a>
                    </p>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</ul>
        </div>
    </div>
</div>



{% endblock %}