{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Reviews</h3>

<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('new_review') }}" class="btn-large teal darken-2 waves-effect waves-light">
            Add Review <i class="fas fa-plus-square right"></i>
        </a>
    </div>
</div>


<ul class="collapsible">
    {% for review in reviews %}
        {% if camp_id == reviews.camp_id %}
        <div class="row">
            <div class="col s12 m6 l4">
                <div class="card teal lighten-2 center-align">
                    <div class="card-content white-text">
                    <strong> by {{ review.review_name }}</strong>
                    <p>{{ review.review_text }}</p>
                    <p>
                        <a href="{{ url_for('edit_review', review_id=review.id) }}" class="btn green accent-4">Edit</a>
                        <a href="#modal{{ review.id }}" class="btn red accent-4 waves-effect waves-light modal-trigger">Delete</a>

                        <!-- Modal Structure -->
                        <div id="modal{{ review.id }}" class="modal">
                            <div class="modal-content teal-text">
                            <h4>Did you write this review?</h4>
                            <p class="red-text">Please only delete your own.</p>
                            </div>
                            <div class="modal-footer">
                            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Go Back</a>
                            <a href="{{ url_for('delete_review', review_id=review.id) }}" class="btn red accent-4">Yes, please delete.</a>

                            </div>
                        </div>
                        <script>
                            document.addEventListener('DOMContentLoaded', function() {
                              var elems = document.querySelectorAll('.modal');
                              var instances = M.Modal.init(elems, {});
                            });
                          </script>
                    </p>
                    </div>
                </div>
            </div>
            <hr>
        </div>
        {% endif %}
    {% endfor %}
</ul>

{% endblock %}