{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Reviews</h3>


<ul class="collapsible">
    {% for review in reviews %}
    <div class="col s12 m6 l3">
        <div class="card teal darken-6 center-align">
            <div class="card-content white-text">
            <strong>{{ camp.cammp_id }}</strong> 
            <strong> by {{ review.review_name }}</strong>
            <p>{{ review.review_text }}</p>
            <p>
                <a href="{{ url_for('edit_review', camp_id=camp.id) }}" class="btn green accent-4">Edit</a>
            </p>
            </div>
        </div>
    </div>
    {% endfor %}
</ul>

{% endblock %}