{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Reviews</h3>

<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('new_review') }}" class="btn-large teal darken-2 waves-effect waves-light">
            Add Review <i class="fas fa-plus-square right"></i>
        </a>
    </div>
</div>


<ul class="collapsible">
    {% for review in reviews %}
    <div class="col s12 m6 l3">
        <div class="card teal darken-6 center-align">
            <div class="card-content white-text">
            <strong> by {{ review.review_name }}</strong>
            <p>{{ review.review_text }}</p>
            <p>
                <a href="{{ url_for('edit_review', review_id=review.id) }}" class="btn green accent-4">Edit</a>
                <a href="#modeal-{{ review.id }}" class="btn red accent-4 waves-effect waves-light modal-trigger">Delete</a>

                <!-- Modal Structure -->
                <div id="modeal-{{ review.id }}" class="modal">
                    <div class="modal-content">
                    <h4>Did you write this review?</h4>
                    <p>Please only delete your own.</p>
                    </div>
                    <div class="modal-footer">
                    <a href="modal-close" class="modal-close waves-effect waves-green btn-flat">Go Back</a>
                    <a href="{{ url_for('delete_review', camp_id=camp.id) }}" class="btn red accent-4">Yes, please delete.</a>

                    </div>
                </div>
            </p>
            </div>
        </div>
    </div>
    {% endfor %}
</ul>

{% endblock %}